<li id="messages-<%= messages.id %>">
  <span class="author"><%= messages.author %></span>
  <span class="content"><%= messages.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(messages.created_at) %> ago.
  </span>
</li>