<% if user_signed_in? %>
 <div class="row">
  <h1>
  <%= current_user.name ||= current_user.email %>'s messages:
  </h1>
    <div class="col-md-8">
      <% if @messages.any? %>
        <h3> Messages (<%= @messages.count %>)</h3>
        <ol class="messages">
          <%= render @messages %>
        </ol>
      <% end %>
    </div>
  </div>
<% end %>