<h1>Hi! I am myAM..</h1>
<p>myAM stands for my answering machine. And that is what I do. <br> If a friend wants to leave a message for you, here is the right adress. I you want to leave a message for a friend, here you can do this. <br>
You only have to register with your E-Mail adress and you can start. The registration is a must have for security.</p>
